@import 'variables';

/* stylelint-disable declaration-no-important */

.container {
  min-height: 300px;
}

.headerWrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  color: $blue;
  flex: 1;
  font-size: 18px;
  padding: 10px 0;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .header {
    flex-basis: 100%;
    padding-top: 0;
    text-align: center;
    white-space: normal;
  }
}
