@import 'variables';

// sass-lint:disable no-important

.container {
  margin: 0 !important;
  min-height: 300px;
  padding: 0 !important;
}

.headerCell {
  background-color: $blue !important;
  color: $white !important;
}

.table {
  overflow-x: auto;
  width: 100%;
}
