@import 'variables';

/* stylelint-disable declaration-no-important */

.container {
  min-height: 300px;
}

.dayRow {
  background-color: $blue-light;
  color: $blue;
}

.headerCell {
  background-color: $blue !important;
  color: $white !important;
}

.pagination {
  padding-top: 20px;
  text-align: center;
}

.table {
  clear: both;
  overflow-x: auto;
  padding-top: 10px;
  width: 100%;
}
