{
  "processors": [
    ["stylelint-processor-styled-components", {
      "parserPlugins": [
        "jsx",
        "objectRestSpread",
        ["decorators", { "decoratorsBeforeExport": true }],
        "classProperties",
        "exportExtensions",
        "asyncGenerators",
        "functionBind",
        "functionSent",
        "dynamicImport",
        "optionalCatchBinding",
        "optionalChaining",
        "exportDefaultFrom"
      ]
    }]
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended",
    "stylelint-config-recommended-scss",
    "stylelint-config-styled-components"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-scss"
  ],
  "rules": {
    "scss/at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "extends",
        "tailwind",
        "apply"
      ]
    }],
    "block-no-empty": null,
    "order/properties-alphabetical-order": true,
    "unit-whitelist": ["em", "rem", "ms", "%", "fr", "px"]
  }
}
