$black: #181a1f;
$blue: #4e8eb2;
$blue-footer: #00457b;
$blue-light: #e6ebef;
$blue-lightest: #f9fbfd;
$blue-gray: #95acbe;
$green: #5bb14e;
$green-translucent: rgba(71, 195, 126, .5);
$blue-translucent: rgba(14, 29, 40, .8);
$red: #b14e5b;
$white: #fff;
$gray: #979797;

$divider-color: rgba(34, 36, 38, .1);

$facebook: #3b5998;
$twitter: #1da1f2;

$shadow-color-1: rgba(0, 0, 0, .2);
$shadow-color-2: rgba(0, 0, 0, .14);
$shadow-color-3: rgba(0, 0, 0, .12);

@mixin card($z) {
  @if $z == 3 {
    box-shadow:
    0 4px 5px -2px $shadow-color-1,
    0 7px 10px 1px $shadow-color-2,
    0 2px 16px 1px $shadow-color-3;
  } @else if $z == 2 {
    box-shadow:
    0 2px 4px -1px $shadow-color-1,
    0 4px 5px 0 $shadow-color-2,
    0 1px 10px 0 $shadow-color-3;
  } @else {
    box-shadow:
    0 1px 3px 0 $shadow-color-1,
    0 1px 1px 0 $shadow-color-2,
    0 2px 1px -1px $shadow-color-3;
  }
}

$shadow-color-4: rgba(0, 0, 0, .1);
$shadow-color-5: rgba(0, 0, 0, .04);
$shadow-color-6: rgba(0, 0, 0, .02);

@mixin card-light($z) {
  @if $z == 3 {
    box-shadow:
    0 4px 5px -2px $shadow-color-4,
    0 7px 10px 1px $shadow-color-5,
    0 2px 16px 1px $shadow-color-6;
  } @else if $z == 2 {
    box-shadow:
    0 2px 4px -1px $shadow-color-4,
    0 4px 5px 0 $shadow-color-5,
    0 1px 10px 0 $shadow-color-6;
  } @else {
    box-shadow:
    0 1px 3px 0 $shadow-color-4,
    0 1px 1px 0 $shadow-color-5,
    0 2px 1px -1px $shadow-color-6;
  }
}
