@import url('//use.typekit.net/pbd6lbw.css');
@import '~react-datepicker/dist/react-datepicker.css';

@tailwind preflight;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

#app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

.react-datepicker-wrapper {
  display: block;
}

.react-datepicker__input-container {
  display: block;
}

::selection {
  color: white;
  background: #4e8eb2; /* WebKit/Blink Browsers */
}
