@import 'variables';

// sass-lint:disable no-important

.container {
  margin-bottom: 0 !important;
  min-height: 200px;
  padding: 20px !important;
}

.form {
  margin-top: 10px;
}

.timer {
  margin-bottom: 10px;
}

.flash {
  align-items: center;
  background-color: $green-translucent;
  border-radius: 3px;
  color: $white;
  display: flex;
  height: 40px;
  justify-content: center;
  left: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
