@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.signedOut {
  background-color: $blue-lightest;
}
