<!DOCTYPE html>
<html
  class="bg-white antialiased h-full"
  lang="en"
>
  <head>
    <title>Hours Tracker</title>
    <meta charset="utf8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="theme-color" content="#4e8eb2"/>
    <meta
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
      name="viewport"
    />
  </head>
  <body class="font-sans font-normal text-black leading-normal text-base h-full">
    <div id="app">
      <noscript>
        <div class="text-blue p-4 text-center">
          <h1>
            Hours Tracker
          </h1>
          <h3>
            You need to enable JavaScript to run this website.
          </h3>
        </div>
      </noscript>
    </div>
    <div id="portal"></div>
  </body>
</html>
