@import 'variables';

// sass-lint:disable no-important
$sidebar-background: #fcfcfc;

.container {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  padding-top: 62px;
  position: relative;
}

.offset {
  margin-left: 280px;
}

.stopwatch {
  @include card(2);

  background-color: $sidebar-background;
  border-radius: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 62px;
  width: 280px;
  z-index: 1;
}

.overlay {
  background: transparent;
  bottom: 0;
  content: ' ';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all .25s ease;
  z-index: -1;
}

.overlayOpen {
  background: $blue-translucent;
  z-index: 10000;
}

.slider {
  background-color: $sidebar-background;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  transform: translate(-280px, 0);
  transition: transform .25s ease;
  width: 280px;
  z-index: 100000;
}

.sliderOpen {
  transform: translate(0, 0);
}
